# Publish chart to the GitHub Container Registry (GHCR) on push to main
name: Publish

on:
  push:
    branches:
      - main
    paths:
      - "charts/**"
      - "!**.md"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: helm/chart-testing-action@v2
        with:
          version: v3.12.0

      - name: Package changed helm charts
        run: ct list-changed --since=HEAD~1 | xargs -r -I {} helm package {}

      - name: Push charts to GHCR
        run: ls *.tgz | xargs -r -I {} helm push {} oci://ghcr.io/${{ github.repository_owner }}/helm-charts
